<!DOCTYPE html>
<html lang="en">

<head>
    <style>.inline {display:inline-block;}</style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>TinyApp</title>
</head>

<body style="font-size:20px; padding:50px;">
    <% include ../views/partials/_header %>
    <!-- Add EJS code here -->
    <br />
    <br />
    <h2>My URLs:</h2>
    <ul>
        <% for (shortURL in urls) { %>
        <li>
            <b>
                <a href=<%=`/u/${shortURL}` %>>
                    <%= shortURL %> : </a></b>
            <%= urls[shortURL] %>
            <form class="inline" method="POST" action="/urls/<%= shortURL %>/delete" <%=shortURL %>>
                <button style="padding: 2px 20px" type="submit" class="btn btn-primary">Delete URL</button>
            </form>
            <a href="/urls/<%= shortURL %>"><button style="padding: 2px 20px" type="submit" class="btn btn-primary">Edit URL</button></a>
        </li>
        <% }; %>
    </ul>
</body>

</html>